[flake8]
max-line-length = 120

# Ignorer les règles qui entrent en conflit avec le formateur de code 'black'
# E203: Espace blanc avant ':'
# W503: Rupture de ligne avant un opérateur binaire
ignore = E203, W503

exclude = .venv,.git,__pycache__