pandas==2.2.3
# scikit-surprise n'est pas compatible avec numpy 2.0.
# Nous utilisons une version < 2.0.
numpy>=1.21,<2.0
scikit-learn
scipy
implicit
azure-storage-blob
opencensus-ext-azure
azure-functions
lz4
joblib
surprise-plus # This is a placeholder, the actual package is scikit-surprise